<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Baniking</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is requird to run the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts usage access is required to run the app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location always access is required to run the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to run the app.</string>
	<key>NSNotificationsUsageDescription</key>
	<string>Notifications access is requird to run the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to run the app.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-LightItalic.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
		<string>SegoeUI-Light.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>TrajanPro3-Regular.ttf</string>
		<string>Ubuntu-Light.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
